DEEPSEEK_BASE_URL=http://localhost:11434 # 实则是Ollama本地api接口，最开始用的deepseek，懒得改了

MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=oa_agent # 数据库名称

DJANGO_API_URL=http://127.0.0.1:8000

SECRET_KEY=MY_JWT_SECRET_KWY_FOR_USR_AND_I_JUST_WRITE_THIS
ALGORITHM=HS256

ALIYUN_ACCESS_KEY_SECRET=your_api_key

# 阿里云百炼配置
ALIYUN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

# Redis配置
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# 重排序模型配置
RERANKER_MODEL_PATH=D:\Hugging_Face\models\Qwen3-Reranker-0.6B

# Checkpoint 配置
CHECKPOINT_TYPE=memory  # 可选值: memory, sqlite, mysql
CHECKPOINT_SQLITE_PATH=./logs/checkpoint/checkpoints.db